.header {
    background-color: white;
    align-items: center;
    color: black;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
    box-shadow: black;
}

.header__p {
    color: #27D2AF;
    font-weight: bold;
    font-size: 2rem;
    position: absolute;
    top: 3px;
    margin-left: 100px;
}


/*Logo tortuga*/

.header__img {
    width: 100px;
    left: 100px;
    margin-left: 0px;
}


/* Menu de header*/

.header__menu ul {
    display: none;
    list-style: none;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: -49px 0px 0px -4em;
}

.header__menu li {
    margin: 10px 0;
}

.header__menu li a:hover {
    text-decoration: underline;
    margin-bottom: 0%;
}

.header__menu li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 0%;
}

.header__menu:hover ul {
    display: block;
}

.header__menu--profile {
    display: flex;
    align-items: center;
    color: #27D2AF;
    font-weight: bold;
    margin-right: 80px;
    margin-bottom: 30px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-right: 5px;
}

.header__menu--profile img {
    width: 40px;
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
}

body {
    background-image: linear-gradient( 109.6deg, rgba(102, 203, 149, 1) 11.2%, rgba(39, 210, 175, 1) 98.7%);
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.main {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*buscador tortuga*/

.main__title {
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    margin-top: 5em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
}

::placeholder {
    color: white;
}


/*boton buscar tortuga*/

.input__title {
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
    width: 70%;
    margin-left: 15em;
}


/* Iniciar sesion*/

.login {
    background-image: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
    /* El ancho será igual al tamaño de todo el height menos 200px (100px del header + 100px del footer) */
}

.login__container {
    background-color: white;
    border: 1px solid black;
    border-radius: 40px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: #27D2AF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 550px;
    padding: 60px 68px 40px;
    width: 300px;
    margin-top: 25px;
    font-weight: bold
}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    font-size: 14px;
}

.login__container--remember-me {
    color: #27D2AF;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a {
    color: #27D2AF;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember-me a:hover {
    text-decoration: underline;
}

.login__container--social-media>div {
    align-items: center;
    display: flex;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media>div>img {
    margin-right: 10px;
    width: 30px;
}

.login__container--register {
    font-size: 14px;
}

.login__container--register a {
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.login__container--register a:hover {
    text-decoration: underline;
}

.footer {
    align-items: center;
    background-image: linear-gradient( 109.6deg, rgba(102, 203, 149, 1) 11.2%, rgba(39, 210, 175, 1) 98.7%);
    display: flex;
    height: 100px;
    width: 100%;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.input {
    background-color: transparent;
    border-bottom: 2px solid #27D2AF;
    border-left: 2px solid #27D2AF;
    border-right: 2px solid #27D2AF;
    border-top: 2px solid #27D2AF;
    color: BLACK;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    height: 50px;
    margin-bottom: 20px;
    outline: none;
    padding: 0px 20px;
}

 ::placeholder {
    color: #27D2AF;
    ;
}

.button {
    background-color: #27D2AF;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
}


/*carrusel*/

.carousel {
    width: 100%;
    position: relative;
}

.carousel_container {
    white-space: nowrap;
    margin: 70px 0px;
    padding: 10px 30px;
}

.carousel-item {
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: aqua;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
    position: relative;
}

.carousel-item:hover~.carousel-item {
    transform: translate3d(100px, 0, 0)
}

.carousel_container:hover .carousel-item {
    opacity: 0.3;
}

.carousel_container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carousel-item__details {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 10px;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    color: white;
}

.carousel-item__details:hover {
    opacity: 1;
}

.carousel-item__details p {
    margin: 2px 0px;
}

.carousel-item__details--title {
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    .login__container {
        border: black solid 1px;
        box-shadow: none;
        padding: 12px;
        width: 100%;
    }
    .footer {
        align-items: flex-start;
    }
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

 ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, .4);
    border-radius: 4px;
}

 ::-webkit-scrollbar:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 ::-webkit-scrollbar:hover:active {
    background: #999;
}